body {
  box-sizing: border-box;
  margin: 30px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #a4ffe1;
}
h1 {
  text-align: center;
}
